 @{
    ViewData["Title"] = "Home Page";
}
@model List<Kutatas_core.Models.Food>

<div id="navigation">
    @{ Html.RenderPartial("~/Views/Shared/Navigation.cshtml"); }
</div>

<body class="container">

    <main class="cart">
        <ul>
            <li class="listhead">

                <h2>Étel</h2>
                <h2>Ár</h2>
                <h2>Kosár</h2>

            </li>

            @foreach (var item in Model)
            {
                <li class="foodelements">
                    <div>
                        <div><h2>@Html.DisplayFor(modelItem => item.Name)</h2></div>
                        <div>
                            <p>allergének fdddddddddddddddddddddddddddddddddddddd</p>


                        </div>
                    </div>
                    <div><h2> @Html.DisplayFor(modelItem => item.Price) Ft</h2> </div>

                    <div class="cart" onclick="addItem(this)" data-id="@item.Id"><i class="fas fa-shopping-cart"> </i></div>
                </li>
            }
        </ul>
        <div class="sum"></div>
    </main>
</body>
<script>



    var cartContent = JSON.parse(sessionStorage.getItem('cart'));
    var adatb = [];
    if (cartContent == null) {
        var cartContent = [];
    }


    var name;
    var price;
    var count=1;
   
    var Item = function (id, name, price, count) {
        this.id = id;
        this.name = name;
        this.price = price;
        this.count = count;
    }
    function addItemToCart(id, name, price, count) {
        for (var i in cartContent) {
            if (cartContent[i].name === name) {
                cartContent[i].count++;
                return;
            }
        }
        var item = new Item(id, name, price, count);

        cartContent.push(item);
        
    }
    function addItem(item) {
        var id = item.dataset.id;
        for (var i = 0; i < adatb.length; i++) {
            if (id == adatb[i].id) {
                addItemToCart(adatb[i].id, adatb[i].name, adatb[i].price, Number(count));
                sessionStorage.setItem('cart', JSON.stringify(cartContent));
                /*szum*/ //document.querySelector('.sum').innerHTML = `<i class="fas fa-shopping-cart"> </i> $ ${cartTotal()}`;
            }

        }
    }




    function cartTotal() {
        var sum = 0;
        for (var index = 0; index < adatb.length; index++) {
            for (var j = 0; j < cartContent.length; j++) {
                if (cartContent[j].id == adatb[index].id) {  
                    sum += adatb[index].price * cartContent[j].count;
                }
            }
        }
       // console.log(sessionStorage.getItem(cart));
        
        return sum;
    }


    var adatb;
 
</script>
@foreach (var item in Model)
{


    <script>

        var items = [];

        items = { id: @item.Id, name:'@item.Name', price: @item.Price };
     
if (adatb == null) {
    var adatb = [];
    }
        
        adatb.push(items);
        //sessionStorage.setItem(cartContent,adatb);
       
    </script>

}