
@model List<Kutatas_core.Models.Orders>

    @{

ViewData["Title"] = "Index";

    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderedFoodId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdererFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdererLastName)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Name">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Image">Delete</a>
                </td>*@
            </tr>
        }
        </tbody>
    </table>


