@model List<Kutatas_core.Models.Food>

@{
    ViewData["Title"] = "Food";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Name">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Image">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    @*window.addEventListener('load', function () {
        $.ajax({
            type: 'GET',
            url: '/Food/SelectAllFood',
            dataType: 'json',
            beforeSend: (xhr) => beforeSendBearer(xhr) // authentikációhoz kell
        })
            .done((data) => {
                @ViewData["Foods"] = data;
            })
            .fail(() => {
                console.log('Error');
            });
    });*@
</script>