@model List<Kutatas_core.Models.Food>

@{
    ViewData["Title"] = "Food";
}
<div id="navigation">

    @{ Html.RenderPartial("~/Views/Shared/Admin_Navigation.cshtml"); }

</div>
<body>
    <main class="container">
        <ul>
            <li class="listhead">

                <h2>Étel</h2>
                <h2>Ár</h2>
                <h2>Opciók</h2>

            </li>

            @foreach (var item in Model)
            {
                <li class="foodelements">
                    <div>
                        <div><h2>@Html.DisplayFor(modelItem => item.Name)</h2></div>
                        <div>
                            <p>allergének fdddddddddddddddddddddddddddddddddddddd</p>

                        </div>
                    </div>
                    <div><h2> @Html.DisplayFor(modelItem => item.Price) Ft</h2> </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Name">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Image">Delete</a>
                    </div>

                </li>
            }
        </ul>
    </main>
   </body>


<script>

    @*window.addEventListener('load', function () {
        $.ajax({
            type: 'GET',
            url: '/Food/SelectAllFood',
            dataType: 'json',
            beforeSend: (xhr) => beforeSendBearer(xhr) // authentikációhoz kell
        })
            .done((data) => {
                @ViewData["Foods"] = data;
            })
            .fail(() => {
                console.log('Error');
            });
    });*@
</script>